.url-input {
	padding: 1.4rem 3.2rem;
	font-size: 2rem;
	flex: 1 0 auto;
}

.url-input::placeholder {
	opacity: 50%;
	color: var(--var-blue-dark);
}

.url-input.error::placeholder {
	color: var(--var-red);
}

.url-input.error {
	color: var(--var-red);
	border: 2px solid var(--var-red);
}

.url-input-label {
	display: flex;
	flex: 1 1;
	position: relative;
}

.url-input-label.error {
	color: var(--var-red);
	margin-bottom: 1.2rem;
}

.url-input-label-text {
	position: absolute;
	bottom: -2.4rem;
	font-size: 1.6rem;
	font-style: italic;
	font-weight: 500;
	line-height: 1.8rem;
	letter-spacing: 0.109px;
}
