.url-input {
	padding: 1.4rem 3.2rem;
	font-size: 2rem;
	flex: 1 0 auto;
}

.url-input::placeholder {
	opacity: 50%;
	color: var(--var-blue-dark);
}

.url-input.error::placeholder {
	color: var(--var-red);
}

.url-input.error {
	color: var(--var-red);
	border: 1px solid var(--var-red);
}

.url-input-label {
	display: flex;
	flex: 1 1;
}

.url-input-label.error {
	color: var(--var-red);
}
