.url-input {
	display: flex;
	flex-direction: column;
}

.url-input.error::placeholder {
	color: var(--var-red);
}

.url-input.error {
	color: var(--var-red);
	border: 1px solid var(--var-red);
}

.url-input-label {
}

.url-input-label.error {
	color: var(--var-red);
}
