.info-card {
	max-width: 35rem;
	padding: 7.7rem 3.2rem 4rem 3.2rem;
	position: relative;
	flex: 0 0 33%;

	display: flex;
	flex-direction: column;
}

.info-card:nth-child(2) {
	top: 4.4rem;
}

.info-card:nth-child(3) {
	top: 8.8rem;
}

.info-card-header {
	padding-bottom: 1.2rem;
}

.info-card-description {
	font-size: 1.5rem;
	line-height: 2.6rem;
	font-weight: 500;
}

.info-card-icon {
	background-color: var(--var-violet);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8.8rem;
	height: 8.8rem;
	border-radius: 50px;
	position: absolute;
	top: -4.4rem;
}

/* LARGE MOBILE/TABLET (768px / 16px = 48em) */
@media (max-width: 48em) {
	.info-card {
		text-align: center;
		align-items: center;
		max-width: none;
	}

	.info-card:nth-child(2) {
		top: 0;
	}

	.info-card:nth-child(3) {
		top: 0;
	}
}
