.submit-url-form {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--var-violet-dark);
	background-image: url(../../assets/bg-shorten-desktop.svg);
	padding: 5.2rem 6.4rem;
	gap: 2.4rem;
}

.submit-url-form button {
	padding: 1.6rem 4rem;
	flex: 0 0 fit-content;
}

/* LARGE MOBILE/TABLET (768px / 16px = 48em) */
@media (max-width: 48em) {
	.submit-url-form {
		flex-direction: column;
		padding: 2.4rem;
	}

	.submit-url-form button {
		font-size: 1.8rem;
		padding: 1rem 0;
	}
}
