/* MOBILE (375px / 16px = 23.4375) */
@media (max-width: 23.44em) {
	.container-centered {
		width: 100%;
		padding: 0 2.4rem;
	}

	main,
	footer {
		display: none;
	}
}

/* DESKTOP */
.shortly-app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 144rem;
	color: var(--var-blue-dark);
}

header,
main,
footer {
	max-width: 144rem;
}

footer {
	background-color: var(--var-violet-darkest);
}

.container-centered {
	margin: 0 auto;
	max-width: 1110px;
}

/* SECTIONS */
section.landing {
	height: 66.4rem;
	position: relative;
	overflow: hidden;
}

section.shorten-url {
	background-color: var(--var-blue-light);
}

.shorten-url-container {
	transform: translateY(-7.9rem);
	padding-bottom: 4.1rem;
	display: flex;
	flex-direction: column;
	row-gap: 2.4rem;
}

section.more-info {
	background-color: var(--var-blue-light);
}

section.call-to-action {
	background-color: var(--var-violet-dark);
	background-repeat: repeat-x;
	background-image: url('/src/assets/bg-boost-desktop.svg');
}

/* COMPONENTS */
.card {
	background-color: var(--var-white);
	border-radius: 5px;
	padding: 1.8rem 3.2rem;
}

.shorten-url-list {
	display: flex;
	flex-direction: column;
	row-gap: 1.6rem;
}

.more-info-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 20.8rem;
}

.info-card:nth-child(2) {
	top: 4.4rem;
}

.info-card:nth-child(3) {
	top: 8.8rem;
}

.more-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10rem;
}

.more-info-title {
	display: flex;
	flex-direction: column;
	row-gap: 1.8rem;
	text-align: center;
}

.more-info-description {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.123px;
	line-height: 3.2rem;
	max-width: 54rem;
}

.landing-background {
	position: absolute;
	top: 3rem;
	right: -13rem;
}

.call-to-action-container {
	display: flex;
	flex-direction: column;
	row-gap: 3.2rem;
	align-items: center;
	padding: 5.7rem 0;
}

/* GENERAL STYLES */
.rounded {
	border-radius: 10px;
}

.rounded-large {
	border-radius: 28px;
}
