.header {
	font-size: 1.5rem;
	font-weight: 700;
	padding: 4.8rem 0;

	display: flex;
	justify-content: space-between;

	a {
		color: var(--var-violet-greyish);
	}

	a.inverted:active,
	a.inverted:hover,
	a.inverted:visted,
	a.inverted:focus {
		color: var(--var-blue-dark);
	}

	a.inverted:active,
	a.inverted:hover,
	a.inverted:visted,
	a.inverted:focus {
		color: var(--var-white);
	}
}

.nav-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	display: flex;
	column-gap: 3.2rem;
	row-gap: 3.2rem;
}

.nav-bar .logo {
	padding-right: 1.2rem;
}
